USE [master]
GO
/****** Object:  Database [PruebaPactia]    Script Date: 13/10/2023 10:15:34 a. m. ******/
CREATE DATABASE [PruebaPactia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PruebaPactia', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PruebaPactia.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PruebaPactia_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PruebaPactia_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PruebaPactia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PruebaPactia]
GO
/****** Object:  Table [dbo].[TASK]    Script Date: 13/10/2023 10:15:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TASK](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Developer] [nvarchar](50) NOT NULL,
	[Date_Created] [datetime] NULL,
	[Date_Updated] [datetime] NULL,
 CONSTRAINT [PK_TASK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
